# Xcode
.DS_Store
DerivedData/
*.xcuserstate
*.xcuserdata/
# Xcode user-specific settings
*.xcuserdatad/
xcuserdata/
*.xccheckout
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
MannoCopy.xcodeproj/project.xcworkspace/xcshareddata/
# SwiftPM
.build/
.swiftpm/
*.bak
# Logs
*.log

# Secrets / Signing
*.p12
*.cer
*.mobileprovision

# Archives
*.xcarchive

# Misc
.idea/
.vscode/
